.banner {
    height: 315px;
}

.text-muted {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #999;
    /* Outros estilos e efeitos aqui */
  }


  @media (max-width: 768px) {
    /* Estilos para telas menores que 768px (como smartphones) */
    .navbar {
      width: 100%; /* Ou qualquer outra alteração necessária */
